<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Spring Advanced Ivan Pronin - Booking Service</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" media="all" href="../../css/stsm.css" th:href="@{/css/stsm.css}" />
		<link rel="stylesheet" type="text/css" media="all" href="../../css/app.css" th:href="@{/css/app.css}" />
	</head>
	<body>
		<div>
			<img src="../../images/stsmlogo.png" alt="STSM logo" title="STSM logo"
			th:src="@{/images/stsmlogo.png}" th:alt-title="#{title.application}" />
		</div>
		
		<div class="menu">
			<a href="/" th:href="@{/}">Home</a>
			<a href="/booking-service.html" th:href="@{/booking-service}">Booking Service</a>
			<a href="/user-service.html" th:href="@{/user-service}">User Service</a>
			<a href="/event-service.html" th:href="@{/event-service}">Event service</a>
		</div>
		
		<div>
			<h2>Booking Facade</h2>
			<form action="#" th:action="@{/booking-service}" th:object="${booking}" method="post">
				<fieldset>
					<legend>Get ticket price</legend>
					<div>
						<label>
							<span>Event Id</span>
						</label>
						<input type="text" th:field="*{eventId}" /></br>
						<label>
							<span>User Id</span>
						</label>
						<input type="text" th:field="*{userId}" /></br>
						<label>
							<span>Seats</span>
						</label>
						<input type="text" th:field="*{seats}"/>
					</div>
					<div>
						<label> Ticket price: 
              				<span th:text="${ticketPrice}">Ticket price</span>
            			</label> 
					</div>
					<div class="submit">
						<button type="submit" name="getTicketPrice">Get ticket price</button>
					</div>
				</fieldset>
			</form>
			
			<form action="#" th:action="@{/booking-service}" th:object="${booking}" method="post">
				<fieldset>
					<legend>Book ticket</legend>
					<div>
						<label for="eventId">
							<span>Event Id</span>
						</label>
						<input type="text" th:field="*{eventId}" /></br>
						<label for="userId">
							<span>User Id</span>
						</label>
						<input type="text" th:field="*{userId}" /></br>
						<label for="seats">
							<span>Seats</span>
						</label>
						<input type="text" th:field="*{seats}"/></br>
						<label for="seats">
							<span>Vip seats?</span>
						</label>
						<input type="checkbox" th:field="*{vipSeat}" />
					</div>
					<div>
						<label for="bookResult" > Booking result: 
              				<span th:text="${bookResult}">Booking result</span>
            			</label> 
					</div>
					<div class="submit">
						<button type="submit" name="bookTicket">Book ticket</button>
					</div>
				</fieldset>
			</form>
			
			<form action="#" th:action="@{/booking-service}" th:object="${booking}" method="post">
				<fieldset>
					<legend>Get tickets for event</legend>
					<div>
						<label for="eventId">
							<span>Event Id</span>
						</label>
						<input type="text" th:field="*{eventId}" />
						
					</div>
					<div>
						<label for="tickets" > Tickets: 
              				<ul >
            					<li th:each="t : ${tickets}" th:text="${t}"/>
          					</ul>
            			</label> 
					</div>
					<div class="submit">
						<button type="submit" name="getTickets">Get tickets for event</button>
					</div>
				</fieldset>
			</form>
			
		</div>
	</body>
</html>